.float-icon {
  background: transparent;
  border-color: transparent;
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000;
}

.inner-icon{
  color: #449d44;
  font-size: 50px;
}
